.border
{
    /* background-color: aquamarine; */
    margin-top: 100px;
    border-radius: 25px;
    padding: 2rem ;
    background: rgba(114, 108, 159, 0.772);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    
    display: flex;
    flex-direction: column;
    
    /* margin:0 auto; */
    
}

.posttitle
{
    font-weight: bolder;
    font-size: large;
    display: inline-block;
    text-decoration-color: black;
    color: black;;
    box-shadow: 0 4px 30px rgb(255, 255, 255);
}

a
{
    color: black;
    text-shadow: rgb(253, 253, 253) 1px 0 10px;

    

}

.postAuthor
{
    border-radius: 5px;
    border-style: solid;
    border-width: 0;
    /* width: fit-content; */
    display: inline-block;
    text-align: center;
    background: rgba(64, 59, 99);
    box-shadow: 0 4px 30px rgb(255, 255, 255);
    
    color: white    ;
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(15.1px);
    
    font-weight: 700;
    line-height: 1;
    padding: .35em .65em;
}

.media
{
    margin: 0, auto;
    align-items: center;
    border-width: 160px;
    text-align: center;
    color: transparent;


    
}

.deletePost
{
    margin-left: 90%;
    margin-top: 10%;
    color: red;
    display: flex;
    font-weight: 700;
    line-height: 1;
    padding: .35em .65em;
    background: rgba(64, 59, 99);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(255, 0, 0);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
}

