body
{
    
    background: url("https://64.media.tumblr.com/44a316783cb17c0ae0e992257c9a8e2f/132cd5f1a52958e7-bf/s540x810/ad5b6e8e4a1dbbbd88cf22f49d9988b4c03d96ee.gif") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
